<!DOCTYPE html>

<html>

<head>

</head>


<body>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 contenedor-hijo" style="padding:0; height: 105%;margin-top: 0;">
        <img class="img-fluid" src="../../../assets/img/fondo2.jpg"
            style="min-height: 100%; min-width: 100%;position: absolute;" alt="fondo">
    </div>
    <div class="row justify-content-center pt-5 ">
        <div class="col-10 col-sm-11 col-md-11 col-lg-11 col-xl-8 formulario pt-5" style="background-color: #5c5abb65;">
            <form>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 contenedor-hijo"
                        style="padding:0; max-width: 12rem; max-height: 12rem;">
                        <img class="img-fluid" src="../../../assets/img/logo.png" alt="logo">
                    </div>
                </div>
                <div class="from-group text-center">
                    <h1 style="font-family: 'Fantasy'; margin-top: 10px; color: rgb(36, 72, 233);">TEST PSICOLOGICO</h1>
                </div>

                <div class="row justify-content-center">
                    <form style="font-size: 30px;font-family: 'Fantasy';">
                        <fieldset>
                            <legend>
                                <div class="from-group text-center">
                                    <h1 class="text-dark" style="font-family: 'Fantasy'; margin-top: 30px;">¿Sientes que
                                        muchas
                                        veces la gente no comprende tus sentimientos??
                                    </h1>
                                </div>
                            </legend>
                            <div style="margin-left: 40%; margin-top: -35px;">
                                <label>
                                    <input type="radio" name="color" value="azul">Sí
                                </label>
                                <label>
                                    <input type="radio" name="color" value="negro">No
                                </label>
                                <label>
                                    <input type="radio" name="color" value="amarillo">Otro
                                </label>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <div class="pt-3 col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <input type="submit" class="btn btn-block registrar" value="ENVIAR">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>