<footer>
    <div class="row col-12">
        <div class="col-3" style="text-align: center;">
            <button class="opciones" style="margin-left: -7%">Sobre Nosotros</button>
        </div>
        <div class="col-9" style="text-align: center;">
            <button class="opciones" style="margin-left: 30%">Síguenos</button>
        </div>
        <div class="col-4">
            <label class="opciones" style="cursor: text;margin-left: 15%; font-size: 20px;font-weight: 300;line-height: 23px;">El
                equipo esta enfocado en ofrecer soluciones
                tecnológicos que apoyen a mejorar el área de
                la salud mental.</label>
        </div>
        <div class="col-12 row">
            <label class="opciones"
                style="text-align: center;font-size: 15px;font-weight: 400;line-height: 18px;cursor: text;">Sedide
                © 2022. Todos los Derechos Reservados.</label>
        </div>
    </div>
</footer>