<!doctype html>
<html lang="en">

<head>
</head>

<body>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 contenedor-hijo" style="padding:0; height: 105%;margin-top: 0;">
        <img class="img-fluid" src="../../../assets/img/fondoMain.jpg"
            style="min-height: 100%; min-width: 100%;position: absolute;" alt="fondo">
    </div>
    <div class="row justify-content-center pt-5 ">
        <div class="col-10 col-sm-11 col-md-11 col-lg-11 col-xl-8 formulario pt-5" style="background-color: #9bf07965;">
            <form>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 contenedor-hijo"
                        style="padding:0; max-width: 12rem; max-height: 12rem;">
                        <img class="img-fluid" src="../../../assets/img/logo.png" alt="logo">
                    </div>
                </div>
                <div class="from-group text-center">
                    <h1 class="text-dark" style="font-family: 'Fantasy'; margin-top: 10px;">TEST PSICOLOGICO</h1>
                </div>

                <div class="row justify-content-center">
                    <div class="col-5 pt-2 datos-ingreso">
                        <label style="font-family: 'Fantasy'; font-size: 20px;">Nombres:</label> <input type="text" [(ngModel)]="nombre"
                            class="form-control" name="nombre" placeholder="Ingrese sus Nombres... " required
                            minlength="5" ngModel #nombresInput="ngModel">
                        <span class=" ml-4 mb-1" style="color:red;"
                            *ngIf="nombresInput.invalid && nombresInput.touched"><strong><strong>*Ingrese los
                                    Nombres</strong></strong></span>
                    </div>
                    <div class="col-5 pt-2 datos-ingreso">
                        <label style="font-family: 'Fantasy';font-size: 20px;">Apellidos:</label> <input type="text" name="apellidos"
                            [(ngModel)]="apellidos" class="form-control" #apellidosInput="ngModel"
                            placeholder="Ingrese Apellidos... " required minlength="5">
                        <span class=" ml-4 mb-1" style="color:red;"
                            *ngIf="apellidosInput.invalid && apellidosInput.touched"><strong><strong>*Ingrese los
                                    Apellidos</strong></strong></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="pt-3 col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <input *ngIf="nombresInput.valid && apellidosInput.valid" type="submit"
                            class="btn btn-block registrar" value="REGISTRAR" (click)="registrar()">
                        <input *ngIf="!nombresInput.valid || !apellidosInput.valid" type="submit"
                            class="btn btn-block registrar" value="REGISTRAR" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>