
.btn{
  background:#FF7878; font-weight: bold;
}
.btn:hover{
  background-color: #a656f1;
}

/*modal*/
.form-control {
  background: rgb(255, 255, 255);
  padding: 1rem 1rem;
  text-align: white;
  box-sizing: border-box;
  border-style: none;
  color: #151615af;
  transition: 0.4s ease-in;
  outline:  none;
  box-shadow: none;
}

.formulario {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  z-index: 1000;
  padding-top: 4rem !important;
}

.datos-ingreso{
  font-family: 'Courier New', Courier, monospace;
}


.registrar {
  font-size: 16px;
  color: rgb(253, 253, 253);
  box-shadow: 0 0 30px rgb(166, 238, 228);
}
