<nav>
    <div class="row col-12">
        <div class="col-5" style="padding:0;">
            <a href="/"><img class="logo" src="../../../../assets/img/logo.png" alt="logo" href="/dsds"
                    type="button"></a>
        </div>
        <div class="row col-7">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="/"><button class="opciones" href="/">Inicio</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="/"><button class="opciones" href="/" style="width: 167px; margin-left: -22px;">Test Activos</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a href="/"><button class="opciones" href="/" style="width: 135px;">Historial</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="opciones login">{{paciente.first_name}}</button>
                <img class="user" src="../../../../assets/img/user.png" alt="user">
            </div>
        </div>
    </div>
</nav>