<h1 style="text-align: center;margin-top: 10px;">GESTIONAR PACIENTES</h1>

<form class="form-container" #createForm="ngForm" (ngSubmit)="open(modalRegistrar)">
  <a (click)="open(modalRegistrar)" style="margin-bottom: 25px; margin-left: 5px;" class="btn btn-success btn-xs">Añadir
    Paciente</a>
</form>
<table class="table table-responsive" style="background-color: beige">
  <thead>
    <tr>
      <th scope="col">NOMBRES</th>
      <th scope="col">APELLIDOS</th>
      <th scope="col">GÉNERO</th>
      <th scope="col">EDAD</th>
      <th scope="col" style="min-width: 200px;">GRADO INSTRUCCIÓN</th>
      <th scope="col" style="min-width: 200px;">LUGAR DE NACIMIENTO</th>
      <th scope="col">TELEFONO</th>
      <th scope="col" style="min-width: 200px;">CORREO ELECTRONICO</th>
      <th scope="col">SELECCIONAR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of pacientes">
      <td>{{paciente.first_name}}</td>
      <td>{{paciente.last_name}}</td>
      <td>{{paciente.gender}}</td>
      <td>{{paciente.age}}</td>
      <td>{{paciente.level_of_education}}</td>
      <td>{{paciente.birthplace}}</td>
      <td>{{paciente.phone}}</td>
      <td>{{paciente.email}}</td>
      <td><button class="btn btn-info btn-xs" (click)="open(modalSeleccionar)"
          (click)="seleccionarPaciente(paciente)">ESCOGER</button></td>
    </tr>
  </tbody>

</table>

<ng-template #modalRegistrar let-modalRegistrar>
  <div class="modal-content modal-content-centered">
    <div class="col-12 from-group text-center pt-3">
      <h1 style="color:#0f0e0e">REGISTRAR PACIENTE</h1>
    </div>
    <div class="col-12 form-group pt-3">
      <input type="text" name="nombres" [(ngModel)]="paciente.first_name" class="form-control" placeholder="Nombres"
        ngModel #nameInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3 pb-3">
      <input type="text" name="apellidos" [(ngModel)]="paciente.last_name" class="form-control" placeholder="Apellidos"
        ngModel #apellidosInput="ngModel" required>
    </div>
    <select class="col-12 form-group pt-1 pb-1" name="genero" [(ngModel)]="paciente.gender" required>
      <option value="" class="form-control" disabled="disabled" selected>SELECCIONAR EL GÉNERO</option>
      <option class="form-control">Másculino </option>
      <option class="form-control">Femenino</option>
      <option class="form-control">Otro</option>
    </select>
    <div class="col-12 form-group pt-3">
      <input type="text" name="username" [(ngModel)]="user.username" class="form-control" placeholder="Username" ngModel
        #usernameInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3">
      <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña"
        ngModel #passwordInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3">
      <input type="text" name="email" [(ngModel)]="paciente.email" class="form-control" placeholder="Correo Electronico"
        ngModel #emailInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3 ">
      <input type="text" name="phone" [(ngModel)]="paciente.phone" class="form-control" placeholder="Telefono" ngModel
        #phoneInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3">
      <input type="text" name="edad" [(ngModel)]="paciente.age" class="form-control" placeholder="Edad" ngModel
        #edadInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3">
      <input type="text" name="level_of_education" [(ngModel)]="paciente.level_of_education" class="form-control"
        placeholder="Grado de Instrucción" ngModel #gradoInstrInput="ngModel" required>
    </div>
    <div class="col-12 form-group pt-3 pb-3">
      <input type="text" name="birthplace" [(ngModel)]="paciente.birthplace" class="form-control"
        placeholder="Lugar de Nacimiento" ngModel #birthplaceInput="ngModel" required>
    </div>

    <div class="col-12 pb-3" style=" display: flex; justify-content: center; align-items: center;">
      <button (click)="agregarPaciente()">REGISTRAR</button>
    </div>
  </div>
</ng-template>

<ng-template #modalSeleccionar let-modalSeleccionar>
  <div class="modal-content modal-content-centered">
    <div class="col-12 pt-3" style=" display: flex; justify-content: center; align-items: center;">
      <button (click)="cambiarEstadoCuenta()">CANCELAR CUENTA</button>
    </div>
    <div class="col-12 pt-3 pb-3" style=" display: flex; justify-content: center; align-items: center;">
      <button (click)="agregarTest_Paciente()">AGREGAR TEST</button>
    </div>
  </div>
</ng-template>