<app-header-main></app-header-main>

<body>
    <div class="from-group text-center">
        <h1
            style="margin-top: 25px;font-style: normal;font-weight: 800;font-size: 50px;line-height: 59px;color: #3B4664;">
            SEDIDE - DIAGNÓSTICO DE LA
            DEPRESIÓN
        </h1>
        <div class="col-12">
            <label style="font-style: normal;font-weight: 400;font-size: 25px;line-height: 29px;color: #000000;">Estamos
                ayudándote en el cuidado de tu salud mental</label>
        </div>
        <div class="col-12">
            <img class="logo" src="../../../../assets/img/brainremove.png" style="width: 38%;" alt="logo">
        </div>

    </div>
</body>
<app-footer-main></app-footer-main>