<nav>
    <div class="row col-12">
        <div class="col-5" style="padding:0;">
            <a href="/"><img class="logo" src="../../../../assets/img/logo.png" alt="logo" href="/dsds"
                    type="button"></a>
        </div>
        <div class="row col-7">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a ><button class="opciones" (click)="opcion3()" style="cursor: pointer">Inicio</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a ><button class="opciones"  (click)="opcion1()" style="cursor: pointer">Pacientes</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <a ><button class="opciones" (click)="opcion2()" style="cursor: pointer">Psicologos</button></a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button class="opciones login">Admin</button>
                <img class="user" src="../../../../assets/img/user.png" alt="user">
            </div>
        </div>
    </div>
</nav>